.DS_Store
dist
node_modules/.cache
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/.cache
node_modules/.cache/vue-loader/b2c6698b639266bd27eac305614c564d.json
node_modules/.cache/vue-loader/3cbd909cbba8da4764a376d1a491fd5e.json
node_modules/.cache/vue-loader/4b584898cbb8d1676e47acea88c30dc8.json
node_modules/.cache/vue-loader/6cd663d30f98d3ff3bf13281c0aa3bd8.json
node_modules/.cache/vue-loader/7b00a9ee901ebda7f54bc27f6a77210c.json
node_modules/.cache/vue-loader/35e967ae196b14a1b8fd35232c79f222.json
node_modules/.cache/vue-loader/88c8c9ce532854cafd36d84711bab73d.json
node_modules/.cache/vue-loader/534ddc71df5c01e6be51873072ddea23.json
node_modules/.cache/vue-loader/a80a098dcfd3b9506adacb00811573e9.json
node_modules/.cache/vue-loader/aa0e86feb74aedddbc737339dadc3343.json
node_modules/.cache/vue-loader/b650927411f14c6304f4543d96986292.json
node_modules/.cache/vue-loader/f5884e8e63ec4b8768204fecd0e9db3f.json
node_modules/.cache/vue-loader/f85754ce00c9df2d600e826783c67bef.json

#files
Travelbook.code-workspace
servTravelDump.sql
travelDump.sql
travelbook_db190919
travelbook_db190919.sql
travelbook_db_190914.sql
deploy.sh
src/components/zzz_deprecated
src/components/Template.vue
